//
   Created by loick on 11/05/2017.

extends ./layout/layout
block content
  .container
    .row
      h1  #{movie.movieName}
      .row
        .span2
          ul#thumbs
            li.item-thumbs.span2
              a.hover-wrap.fancybox
              img(src='#{movie.imageHttp}', alt='post')
        .span5.offset1
          h6 导演：#{movie.director}
          h6 编剧：#{movie.editors}
          h6 主演：#{movie.actors}
          h6 类型：#{movie.tags}
          h6 国家：#{movie.country}
          h6 语言：#{movie.language}
          h6 上映日期：
          h6 时长：#{movie.duration}
        .span3.offset1
          #interest_sectl
            .rating_wrap.clearbox(rel="v:rating")
              .clearfix
                .rating_logo.ll
                  | 豆瓣评分
              .rating_self.clearfix(typeof="v:Rating")
                strong.ll.rating_num(property="v:average") 6.0
                span(property="v:best", content="10.0")
                .rating_right
                  .ll.bigstar.bigstar30
                  .rating_sum
                    a.rating_people(href="collections")
                      span(property="v:votes") 416
                      | 人评价
              .ratings-on-weight
                .item
                  span.stars5.starstop(title="力荐")
                    | 5星
                  .power(style="width:7px")
                  span.rating_per 5.9%
                  br
                .item
                  span.stars4.starstop(title="推荐")
                    | 4星
                  .power(style="width:25px")
                  span.rating_per 19.3%
                  br
                .item
                  span.stars3.starstop(title="还行")
                    | 3星
                  .power(style="width:64px")
                  span.rating_per 48.0%
                  br
                .item
                  span.stars2.starstop(title="较差")
                    | 2星
                  .power(style="width:30px")
                  span.rating_per 22.7%
                  br
                .item
                  span.stars1.starstop(title="很差")
                    | 1星
                  .power(style="width:5px")
                  span.rating_per 4.0%
                  br
    .row
      h2 #{movie.movieName}的简介
      p #{movie.summary}